### Arithmetic operations

In [3]:
2 + 2

4

In [4]:
2 * 2

4

In [5]:
2 / 4

0.5

In [6]:
2 // 4

0

In [1]:
"a" + 3

TypeError: can only concatenate str (not "int") to str

In [2]:
# Interessante.
"s" * 3

'sss'

### Conditional operators

In [12]:
2 > 3

False

In [13]:
2*2 < 4*4

True

### Logical operators

In [7]:
0 and 3

0

In [9]:
0 and 0

0

In [11]:
3 and 4

4

In [8]:
0 or 3

3

### Variables and data types

Int, float, boolean and string.

In [14]:
i = 3
print(i)

3

In [15]:
_s = 3

In [16]:
Conditio@s = 3

SyntaxError: invalid syntax (<ipython-input-16-4ca9e3c2b2fd>, line 1)

In [17]:
a = 5
type(a)

int

In [18]:
b = 'ss'
type(b)

str

In [19]:
c = 1.5
type(c)

float

In [20]:
# Interessante.

set('ahshdh')

{'a', 'd', 'h', 's'}

### Conditional statement

In [21]:
# Interessante.

a = 3

if a > 4:
    print('4')
elif a == 3:
    print('3')

3

In [24]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [26]:
for i in '':
    print(i)

In [32]:
for i in range(10, 51, 2):
        print(i)

10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

### Functions

Built-in, e.g. range(), min(), max() etc. vs. customized function.

In [35]:
def maximum(a,b):
    if a == b:
        print(a)
    elif a > b:
        print(a)
    elif b > a:
        print(b)
        
        
maximum(2,-3)

2

### Data Structures

Problems with the existing data types:
- Data in a variable can be stored in a single format.
- Large memory overhead by creating large number of variables
- Unfit for storing large structures

Two data structure for solving these problems:
- List: index is implicit. It's a columns -> append, extend, del, remove.
- Dictionary: index is explicit. It's a rpw -> del

because otherwise I have to compute operations for all variables: I want to structure the numbers.

#### LIST

In [37]:
l = [1,2,3,4]

l[0:2]

[1, 2]

In [38]:
l[-1]

4

In [39]:
l.append(8)

In [41]:
l.append([2,3])

In [43]:
l

[1, 2, 3, 4, 8, [2, 3], [2, 3]]

In [45]:
# Interesting: add some values without list.

l.extend([8,9,0])
l

[1, 2, 3, 4, 8, [2, 3], [2, 3], 8, 9, 0]

In [52]:
# remove the element equal to 0
l.remove(0)
l

[2, 3, 4, [2, 3], [2, 3]]

In [51]:
del l[0]
l

[2, 3, 4, [2, 3], [2, 3], 0]

In [54]:
for i, elem in enumerate(l):
    print(i, elem)

0 2
1 3
2 4
3 [2, 3]
4 [2, 3]

#### DICTIONARY

It is used with unordered data. List is usefule when data define only one element -> if there are more features, they have to be expressed.

In [55]:
d = {
    'me': 90,
    'you': 100,
    'she': 120
}

In [57]:
d['me']

90

In [58]:
d['me'] = 1000
d

{'me': 1000, 'you': 100, 'she': 120}

In [59]:
del d['me']

In [61]:
d.update({'aa': 3})
d

{'you': 100, 'she': 120, 'aa': 3}

In [62]:
a = dict()
a[1]

KeyError: 1

### STADARD LIBRARY, MODULE, PACKAGES

__Standard library__ is a collection  of skills such as built-in functions, built-in constants (True, None etc.), data types, file formats (csv etc.). 
__Module__ is set of functions, i.e. a .py file, and __package__ is a set of modules. R is different in R environment.

### PANDAS

It offers a wide range of functionalities:
- Reading different varieties of data
- Functionalities for filtering, selectiong and manipulating data
- Plotting data for visualization and exploration purpose

.iloc for the implicit index and it exists for each dataframe. 

.loc for the explicit index

.gropuby()

.crosstab() 

.pivot_table(df, index, values)

In [65]:
L1 = [10, 20, 30, 40]

L2 = L1

L3 = L1.copy()

L4 = list(L1)

L1[0] = [50]

print(L1, L2, L3, L4)

[[50], 20, 30, 40] [[50], 20, 30, 40] [10, 20, 30, 40] [10, 20, 30, 40]

In [67]:
print(bool(0), bool(1.11), bool(-5))

False True True

In [72]:
import pandas as pd

pd.datetime.now()

<ipython-input-72-899c6dd193d3>:3: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  pd.datetime.now()

datetime.datetime(2021, 5, 21, 19, 11, 28, 460906)

In [75]:
seconds_series = pd.Series(pd.date_range("2000-01-01", periods=3, freq="s"))
seconds_series.dt

In [80]:
s = pd.Series(data= [10,5,6,2,3,1,4,8,9,7], index=[49,48,47,46,45, 1, 2, 3, 4, 5])
s.loc[:3]

49    10
48     5
47     6
46     2
45     3
1      1
2      4
3      8
dtype: int64

In [84]:
s = {1,2,3}
s.add(4)
print(s)

{1, 2, 3, 4}

In [85]:
{1, True}

{1}